.container-testimone {
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}

.immagine-testimone {
    height: 100%;
    width: auto;
}

.testo-testimone-container {
    text-align: center;
    padding: 40px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
}

.nome-testimone {
    font-size: 1.3rem;

}

.lavoro-testimone{
    font-size: 1.2rem;
    margin-top: 15px;
    padding-bottom: 30px;
}

.testo-testimone{
    font-size: 1.1rem;
    text-align: justify;
}